@import "./variables.scss";

// @font-face {
//   font-family: "MyFont";
//   src: local("MyFont"), url(./fonts/MyFont.woff) format("woff");
// }

a {
  color: $primary-color !important;
}
* {
  font-size: $normal-font;
}

.input-group {
  .form-control,
  .input-group-text {
    background-color: $menu-background;
    border: none;
    height: 50px;
    border-radius: 2px;
    font-size: 18px;
    color: black;
    &:placeholder-shown {
      color: rgba(0, 0, 0, 0.5);
    }
    &:focus {
      background-color: $menu-background;
      border-bottom: 1px solid $purple-color;
      box-shadow: none;
    }
  }

  .input-group-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
}
.form-label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.navbar {
  background: $primary-color;
  height: 80px;
  left: 0px;
  top: 0px;
}
#sidebar-wrapper {
  .nav {
    padding-left: 15px !important;
  }
}

.btn {
  border-radius: 2px !important;
  font-size: $head-font;
  color: #fff;
  padding: 0px 32px !important;
  background-color: $primary-color !important;
  border: 0 !important;
  height: 40px;
  box-shadow: none !important;
  &:hover {
    background: $violet-dark !important;
  }
  &:focus {
    background: $purple-color !important;
  }
}

.secondary-btn {
  background-color: #f2f2f2 !important;
  // border-color: $primary-color !important;
  color: $dark-grey !important;
  &:hover {
    background: $secondary-color !important;
  }
  &:focus {
    background: $purple-color !important;
    box-shadow: none !important;
    color: #fff !important;
  }
}

.primary-table {
  thead {
    tr {
      th {
        border-collapse: collapse !important;
        background-color: $primary-color;
        color: #fff;
        font-weight: 100;
        border: none;
        height: 30px;
      }
    }
  }

  tbody {
    tr {
      td {
        border-collapse: collapse !important;
        font-weight: 100;
        border: none;
        height: 30px;
      }
    }
    tr:nth-child(odd) > td {
      background-color: #fff;
    }
    tr:nth-child(even) > td {
      background-color: $secondary-color;
    }
  }
}
